*
  {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212121;
    padding: 30px;
    color: #fafafa;

    ul {
        list-style: none;
        display: flex;
    }

a {
   margin: 10px;
   text-decoration: none;
   color: white;
   cursor: pointer;
}

a:hover {
   
    color: #3e89d4;
}

}