* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 10px 0;
  text-align: center;
}

h3 {
  margin: 10px 10px;
  text-align: center;
}

a:hover {
  color: rgb(19, 11, 11);
  text-decoration: underline;
  cursor: pointer;
}

.nav {
  background-color: aqua;
  color: #212121;
  padding: 10px;
  justify-content: center;
  color: #212121;
}
.nav .nav-link {
  color: #212121;
}
.nav a {
  color: #212121;
}

.grupo-h h1 {
  margin: 10px 0;
  letter-spacing: 3px;
  font-weight: 700;
}
.grupo-h h2 {
  margin-top: 40px;
  letter-spacing: 1px;
}

h1,
h2 {
  margin: 15px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  margin: 25px 0;
  border-radius: 10px;
  object-fit: cover;
}

button {
  background-color: rgb(6, 5, 9);
  width: 80%;
  padding: 8px;
  color: #fafafa;
  border-radius: 10px;
  justify-content: center;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.botones {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.grupo-h {
  margin: 0px 0;
  color: #fafafa;
  background: #212121;
  padding: 102px;
}

.marca {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}

.col-sm-6 {
  margin: 39px 0;
}

.h2-proyecto {
  margin: 52px 0;
  font-weight: 700px;
}

.col-sm-4:hover {
  transform: translateY(-13px);
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form label {
  margin: 15px;
  font-size: 20px;
}
form .boton-formulario {
  margin-top: 20px;
  width: 30%;
}
form input {
  width: 30%;
  padding: 15px;
  border-radius: 5px;
  margin: 0;
}

.mensaje {
  padding: 43px;
}

footer {
  background-color: #212121;
  color: #fafafa;
  justify-content: center;
  align-items: center;
  padding: 45px;
  text-align: center;
  margin-top: 44px;
}
footer p {
  font-size: 20px;
}

span {
  justify-content: center;
}

.sobre-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 700px;
  text-align: center;
  margin: 25px 0;
  font-size: 22px;
}
.sobre-nosotros p {
  margin: 20px 0;
}

.cuadro {
  color: #fafafa;
  background-color: #212121;
  padding: 45px;
  margin: 30px 0;
}
.cuadro h1,
.cuadro h2 {
  font-weight: 800px;
  text-transform: uppercase;
  margin: 30px 0;
}

body {
  background-color: aqua;
}

@media (max-width: 767px) {
  html,
  nav,
  body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 767px) {
  nav {
    display: flex;
    flex-direction: column;
  }
  nav a {
    display: block;
    margin-bottom: 10px;
  }
}
@media (max-width: 2560px) {
  img,
  button {
    width: 100%;
    height: auto;
  }
}
.contenedor {
  margin-top: 290px;
}
.contenedor .faq-section {
  text-align: center;
}
.contenedor .faq-section .faq {
  margin-top: 20px;
}
.contenedor .faq-section .pregunta {
  margin-bottom: 20px;
  text-align: center;
}
.contenedor .faq-section h3 {
  font-weight: bold;
}
.contenedor .faq-section p {
  margin-top: 10px;
}

/*# sourceMappingURL=style.css.map */
